body{
background-color: black;
background-image: url("background.jpg");
background-repeat: no-repeat;
background-attachment: fixed;
background-position: center;
color: white;
opacity: 0.9;	
}
header img{
	 display: block;
   margin-left: auto;
   margin-right:auto;
}
footer{
	color: white;
	clear:both; 
	background-color: grey; 
	text-align: center;
	padding-bottom: 30px;
	position: bottom;
	bottom: 0;
	left: 0;
	right: 0;
}
.contect img{
	height: 2%;
	width: 2%; 
	float: right;

}
.riot img{
	height: 5%;
	width:5%;
	float: left;
	margin-top:-50px;
}
.signup{
	font-size: 20px;
	color: red;
	text-align: right;

}
fieldset{
	background-color:#666699;
	opacity: 0.9;
	color: white;
}
ul{
	margin: 0px;
	padding: 0px;
	list-style: none;

}
ul li{
	float: left;
	width: 330px;
	height: 40px;
	background-color: grey;
	opacity: 1;
	line-height: 40px;
	text-align: center;
	font-size: 20px;
}
ul li a{
	text-decoration: none;
	color: white;
	display: block;
}
ul li a:hover{
	background-color: tomato;
}
ul li ul li{
	display: none;
}
ul li:hover ul li{
	display: block;
}



/*for mobile size responsive*/
@media only screen and (max-width: 600px) {
    [class*="col-"] {
        width: 100%;
    }
header img{
	width: 70%;
	height: 70%;
}
ul{
	display: none;
}
.signup{
	font-size: 30px;
}
footer{
	font-size: 20px;
}
footer img{
	height: 15%;
	width: 15%;
}
img{
	width: 100%;
	height:100%;
}

.contect{
	display: none;
}
.riot{
	width: 500%;
	height: 500%;
	padding-top: 10%;
	margin-bottom: 10%;
}
}
@media only screen and (min-width: 600px){
.sidebar{
	display: none;
}
}